<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- http invoker client -->
	<bean id="httpInvokerRequestExecutor" class="org.springframework.remoting.httpinvoker.CommonsHttpInvokerRequestExecutor"/>

	<bean id="converterService" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
		<property name="serviceUrl" value="http://localhost:8282/idonc-service/remote/ConverterService"/>
		<property name="serviceInterface" value="org.lopatka.idonc.service.ConverterService"/>
		<property name="httpInvokerRequestExecutor">
			<ref bean="httpInvokerRequestExecutor"/>
		</property>
	</bean>

    <bean id="idoncService" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
		<property name="serviceUrl" value="http://localhost:8282/idonc-service/remote/IdoncService"/>
		<property name="serviceInterface" value="org.lopatka.idonc.service.IdoncService"/>
		<property name="httpInvokerRequestExecutor">
			<ref bean="httpInvokerRequestExecutor"/>
		</property>
	</bean>
</beans>
