html, body {
	background-color: #fff;
	color: #000;
	margin: 0;
	padding: 0;
	text-align: center;
}

#logowanie {
	width: 780px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

#rejestracja {
	width: 780px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

#rejestracja_form {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}