<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <import resource="classpath:common.xml" />
    <import resource="classpath:persistence.hibernate.xml" />

    <bean name="openSessionInViewInterceptor"
		class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="idoncService" class="org.lopatka.idonc.service.IdoncServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="userCredentialDao" ref="userCredentialDao"/>
        <property name="loggedUserDao" ref="loggedUserDao"/>
        <property name="projectDao" ref="projectDao"/>
    </bean>
</beans>
