html, body {
	background-color: #fff;
	color: #000;
	margin: 0;
	padding: 0;
	text-align: center;
}

#top {
	width: 780px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

#naglowek {
	background-color: #888;
	width: 780px;
	border: 1px solid;
}

#naglowek h2 {
	width: 500px;	
}

#tytul {
	text-align: center;
}

#jezyk {
	float: right;
	text-decoration: none;
	height: 1.5em;
	
}

#logo {
	margin-right: 0px;	
}

#tresc {
	width: 780px;
	background-color: #fff;
	min-height: 300px;	
	height: auto !important;
	height: 300px;
	float: none;
	margin: 0 auto;
	border: 1px solid;
}

#stopka {
	background-color: #888;
	clear: both;
	width: 100%;
	min-height: 1.5em;
	border: 1px solid;
}

#dane_usera {
	float: left;	
}

#edycja_usera {
	float: left;
}

#dane_projektu {
	float: left;	
}
	
IMG {
	border: none;
}