<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- beans can't come before imports so have to have these in an import -->
	<import resource="classpath:common.xml"/>
	<import resource="classpath:persistence.hibernate.xml"/>
	
	<!-- setup data generator that will add some data into the db when the app starts up -->
	<bean id="dataGenerator" class="org.lopatka.idonc.web.utils.DataGenerator">
		<property name="userDao" ref="userDao"></property>
		<property name="userCredentialDao" ref="userCredentialDao"></property>
	</bean>

    <!-- setup wicket application -->
    <bean id="wicketApplication" class="org.lopatka.idonc.web.IdoncApplication">
    </bean>

</beans>
